<%= form_with(model: [@pedido, pedido_item]) do |form| %>
  <% if pedido_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pedido_item.errors.count, "error") %> prohibited this pedido_item from being saved:</h2>

      <ul>
        <% pedido_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :produto_id, style: "display: block" %>
    <%= form.collection_select :produto_id, Produto.all, :id, :descricao, { prompt: 'Selecione um produto' }, { class: 'form-control' } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
